body{
    display: flex;
    justify-content: center ;
    height: 100vh;
    align-items: center;
}

.banho img, .tosa img{
    width: 400px;
}

.banho, .tosa{
    width: 800px;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

button{
    width: 100px;
}

.box-check{
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}